:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
}

a {
  font-weight: 500;
  color: yellow;
  text-decoration: inherit;
}
a:hover {
  color: lightyellow;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h2 {
  font-size: large;
  margin-top: 10px;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.current-line {
  font-weight: bold;
  color: cyan;
  background-color: darkslategray;
}

.previous-line {
  color: lime;
}
